PORT=3002
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_TRANSCODED_BUCKET=transcoded-videos
REDIS_URL=redis://localhost:6379
KAFKA_BROKERS=localhost:9092
# RS256 public key — in dev use the key from auth-service
# In production, inject from Secrets Manager
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA...\n-----END PUBLIC KEY-----"
NODE_ENV=development
LOG_LEVEL=info
